.ballContainer {
    position: absolute;
    bottom: 30vh;
    left:12vw;
}

.ball {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
}

.stickContainer{
    position: absolute;
}


.stick {
    width:1vw;
    height:20vh;
    position:absolute;
    top:6vh;
    left: 0;
    background-color:black;
}

.leftHuman {
    width:7vw;
    height:50vh;
    position:fixed;
    bottom:0;
    left: 5vw;
    background-color:yellow;
}

.rightHuman {
    width:7vw;
    height:50vh;
    position:fixed;
    bottom:0;
    right: 5vw;
    background-color:yellow;
}

button {
    position: absolute;
    top: 0;
    right: 0;
}

.main {
    display: inline-block;
    position: relative;
}

.ballAnimation {
    left: 12vw;
    position: absolute;
    bottom: 30vh;
    animation: ballAnimation 1s infinite; 
}

.stickAnimation {
    position: absolute;
    animation: stickAnimation 1s infinite linear; 
}

@keyframes ballAnimation {
    0%  {   
            transform: translateX(0vw) ;
            animation-timing-function: linear;
        }
    100% {  
            transform: translateX(70vw);
            animation-timing-function: linear;
        }
}

@keyframes stickAnimation {
    0%  {   
            transform: rotateZ(0deg) ;
        }
    100% {  
            transform: rotateZ(90deg);
        }
}