.ballContainer {
    position: absolute;
    bottom: 30vh;
    left:12vw;
}

.leftHuman {
    width:7vw;
    height:50vh;
    position:fixed;
    bottom:0;
    left: 5vw;
    background-color:yellow;
}

.rightHuman {
    width:7vw;
    height:50vh;
    position:fixed;
    bottom:0;
    right: 5vw;
    background-color:yellow;
}

.ball {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
}

button {
    position: absolute;
    top: 0;
    right: 0;
}

.main {
    display: inline-block;
    position: relative;
}

.bounce-ball {
    left: 12vw;
    position: absolute;
    bottom: 30vh;
    animation: throw 1s infinite; 
}

@keyframes throw {
    0%  {   transform: translateX(0vw) ;
            animation-timing-function: linear;
        }
    100% {  transform: translateX(70vw);
            animation-timing-function: linear;
        }
}