.ballContainer {
    position: absolute;
    bottom: 30vh;
    left:12vw;
}

.ball {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
}

.stickContainer{
    position: absolute;
}


.stick {
    width:1vw;
    height:20vh;
    position:absolute;
    top:15vh;
    left: 2vw;
    background-color:black;
}

.leftHuman {
    width:7vw;
    height:50vh;
    position:fixed;
    bottom:0;
    left: 5vw;
    background-color:yellow;
}

.rightHuman {
    width:7vw;
    height:50vh;
    position:fixed;
    bottom:0;
    right: 5vw;
    background-color:yellow;
}

button {
    position: absolute;
    top: 0;
    right: 0;
}

.main {
    display: inline-block;
    position: relative;
}

.ballAnimation {
    left: 12vw;
    position: absolute;
    bottom: 30vh;
    -o-animation: ballAnimation 8s linear forwards; 
    -webkit-animation: ballAnimation 8s linear forwards; 
}

.stickAnimation {
    position: absolute;
    -o-animation: stickAnimation 4s linear forwards; 
    -webkit-animation: stickAnimation 4s linear forwards; 
}

@-webkit-keyframes ballAnimation {
    0%  {   
            -webkit-transform: translateX(0vw) ;
        }
    40%  {   
            -webkit-transform: translateX(61vw) ;
        }
    100% {  
            -webkit-transform: translate3d(-50vw,-300vh,0);
            -webkit-animation-timing-function: ease-in alternate;
        }
}

@-webkit-keyframes stickAnimation {
    0%  {   
            -webkit-transform: rotate(0deg) ;
        }
    20%  {   
            -webkit-transform: rotate(-15deg) ;
        }
    80%{
            -webkit-transform: rotate(60deg) ;
        }
    100%{
            -webkit-transform: rotate(75deg);
        }
}
@-o-keyframes ballAnimation {
    0%  {   
            -o-transform: translateX(0vw) ;
        }
    40%  {   
            -o-transform: translateX(61vw) ;
        }
    100% {  
            -o-transform: translate3d(-50vw,-300vh,0);
            -o-animation-timing-function: ease-in alternate;
        }
}

@-o-keyframes stickAnimation {
    0%  {   
            -o-transform: rotate(0deg) ;
        }
    20%  {   
            -o-transform: rotate(-15deg) ;
        }
    80%{
            -o-transform: rotate(60deg) ;
        }
    100%{
            -o-transform: rotate(75deg);
        }
}